
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    
}

.header{
    background-image: url('img/hero-bg.png');
    background-size: cover;
    background-position: center;
    

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.navbar ul{
    list-style: none;
    display: flex;
}

.navbar h3{
    color :#4E47FF;
    font-size: 2.3rem;
}



.btn-primary{
    background-color: rgb(78, 71, 255);
    text-decoration: none;
    color : white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.banner{
    text-align: center;
    align-items: center;
    color: rgba(37, 36, 50, 1);
    margin-top: 158px;
    margin-bottom: 37px;
    font-size: 25px;
    padding-left: 267px;
    padding-right: 267px;
    padding-bottom: 140px;
}

.hero {
    display: flex;
    
    align-items: center;
    padding: 80px 140px 116px 140px;
    row-gap: 10px;


}

.hero__content h2 {
    font-size: 35px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);

}

.hero__content p {
    font-size: 18px;
    color: rgba(37, 36, 50, 0.5);
    font-weight: 500;
}

.hero img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.user{
    background-color: rgb(78, 71, 255, 0.1) ;
    margin: 0px 160px 137px 140px;
    border-radius: 24px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding: 50px 80px 50px 80px;
    
}

.user h2{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.user__data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 158px;
    
}

.user__data h3{
    font-size: 1.5rem;
    font-weight: 600;
    color:rgb(78, 71, 255) ;
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.user__card p {
    margin-top: -60px; 
    font-size: 1.1rem;
    color: rgba(37, 36, 50, 0.5);
    font-weight: 500;
}
